{% extends 'layout.html.twig' %}

{% block head_title %}{{ parent() }} | {{ page_title }}{% endblock %}
{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="#">Home</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <span>Welcome</span>
    </li>
{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}{{ page_subtitle }}{% endblock %}