<!-- BEGIN PAGE MUTUELLES -->
<div class="page-actions">
    <div class="btn-group">
        <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-sm hidden-xs">{{ insuranceType.name }}&nbsp;</span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for insurance in insurances %}
                {% if insurance.name != insuranceType.name %}
                    <li>
                        <a href="{{ path('backoffice_layout_change_mutuelle', {'id': insurance.id}) }}">
                            <i class="icon-docs"></i> {{ insurance.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- END PAGE MUTUELLES -->